.base-details{
  background-color: #fff;
  padding: 20px 10px;
   display: flex;
  justify-content: space-around;
  align-items: center;
  .details-left{
    width: 60%;
  }
  .details-right{
    width: 35%;
  }
}