.home-view {
  display: flex;
  justify-content: space-around;
}
.home-view .home-left {
  width: 60%;
}
.home-view .home-left .demo-loadmore-list {
  border-radius: 12px;
}
.home-view .home-right {
  width: 35%;
}
